/* CSS declarations go here */
@font-face {
    font-family: 'latolight';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url('/background.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100%;
    display: flex;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
}

.backToBeta {
    top: 0;
    left: 0;
    position: absolute;
    margin: 15px;
}

.backToBeta a {
    color: white;
    font-family: 'latolight', sans-serif;
}

.mangroveLogo {
    align-self: flex-end;
    position: absolute;
    right: 0;
}

.mangroveLogo img{
    margin: 15px;
}

h1 {
    font-weight: bold;
}

h1, p {
    color: white;
    font-family: 'latolight', sans-serif;
}

label {
    font-family: 'latolight', sans-serif;
}

form .btn, form .btn:hover {
    background-color: #312783;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #312783;
    box-shadow: 0 1px 0 0 #312783;
}

.dropdown-content li > a, .dropdown-content li > span{
    color: #312783;
}

[type="checkbox"]:checked + label:before{
    border-right: 2px solid #312783;
    border-bottom: 2px solid #312783;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #312783;
}

.form-group label{
    float: left;
}

